{{!-- +++++++++++++++++++ HEADING/BUTTON HTML ++++++++++++++++++++ --}}

<div class="container">
  <img src="/Users/daniel/Desktop/burger/public/assets/img/burger.gif" alt="">
</div>
<h2 id="add">Add A Burger</h2>
<div class="form-group">
  <form method="POST" action="api/burgers" class="addOne">
    <textarea id="textArea" type="text" name="burger_name" rows="1" cols="30"></textarea>
    <button id="btnCreate" type="submit">Create!</button>
  </form>
</div>

{{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
{{!-- ++++++++++++++++ ADDING A BURGER HTML ++++++++++++++++++++ --}}

<div class="monster-div">
  <div class="burger-container">

    <h2>New Burgers</h2>
    <ul>
      {{#each burgers}} {{#unless this.devoured}}
      <li>
        <div class="burger-action">

          <p class="burgerType">{{this.burger_name}}</p>
          <form action="api/burgers/{{this.id}}?_method=PUT" method="POST" class="dev">
            <input type="hidden" name="devoured" value="true">
            <button class="btnDevour" type="submit">Devour it</button>
          </form>
          
        </div>
      </li>
      {{/unless}} {{/each}}
    </ul>
  </div>

  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
  {{!-- ++++++++++++++++ BURGERS DEVOURED HTML ++++++++++++++++++++ --}}

  <div class="devoured-container">

    <h2>Burgers Devoured</h2>
    <ul>
      {{#each burgers}} {{#if this.devoured}}
      <li>
        <p class="burgerType">{{this.burger_name}}</p>
      </li>
      {{/if}} {{/each}}
    </ul>

  </div>
  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
</div>